<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="better.text.protext.ui.bookmarks">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity
            android:name="better.text.protext.ui.bookmarks.activities.BookmarksActivity"
            android:exported="true"
            android:label="Bookmark">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name="better.text.protext.ui.bookmarks.services.BookmarkService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>